
<h1>Guess The Music</h1>
<br>
<div class="container">
  <input type="text" #searchInput (input)="onInput()" (blur)="closeAutocompleteList()" (focus)="openAutocompleteList()" [(ngModel)]="displayVal" placeholder="Type a artist">
  <button (click)="GetArtistData()">Search</button>
</div>
<ul *ngIf="showAutocompleteList" #autocompleteList class="autocomplete-list">
  <li *ngFor="let suggestion of autocompleteSuggestions" (click)="selectSuggestion(suggestion); GetArtistData()">{{ suggestion }}</li>
</ul>

<div class="player-preview" *ngIf="previewUrl">
  <div class="imgbox">
    <img class="imagem-controller">
  </div>
</div>

<div class="guess" *ngIf="previewUrl">
  <div id="waveform" class="audio-player">
    <source [src]="this.previewUrl" type="audio/mpeg">
  </div>
  
  <button class="custom-button" (click)="togglePlayback()">
    <img *ngIf="!isPlaying" src="../assets/play.png" alt="Pause">
    <img *ngIf="isPlaying" src="../assets/pause.png" alt="Play">
  </button> 
  
  <input type="range" min="0" max="1" step="0.01" [(ngModel)]="volume" (ngModelChange)="updateVolume()">
  <input type="text" [(ngModel)]="guessValue" (input)="fetchSuggestions()">
  <button>+1s</button>
</div>
<ul *ngIf="showSuggestions()">
  <li *ngFor="let suggestion of filteredSuggestions.slice(0, 11)" (click)="checkSelection(suggestion)">{{ suggestion }}</li>
</ul>
