
*{
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

h1 {
  justify-content: center;
  display: flex;
  font-size: 3.125rem;
  color: var(--gray-900);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
    margin-top: 4rem;
}

button {
  margin-left: 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: #007bff;
  color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center; 
  color: black;
  cursor: pointer;
  margin-top: 0.5rem;
}


li{
  display: block; 
  text-decoration: none; 
  color: black;
  cursor: pointer;
}

li:hover {
  background-color: #f0f0f0; 
}

.player-preview {
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 17rem; 
  border-radius: 20px;
  box-shadow: 0 50px 80px rgba(0, 0, 0, 0.5);
  box-sizing: border-box; 
  margin-left: 45rem;
  margin-top: 3rem;
  margin-left: 41.5%;
  background-color: #1F1F23;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.player-preview .imgbox {
  position: relative;
  width: 100%;
  height: 17rem; 
}

.player-preview .imgbox img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  object-fit: cover;
  background-color: #1F1F23;
}

.player-preview audio{
  width: 100%;
  outline: none;
}

.autocomplete-list {
  position: absolute;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  text-align: center;
  width: 11.5%;
  justify-content: center;
  left: 41.6%;
  z-index: 999;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.autocomplete-item {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-item:hover {
  background-color: #ddd;
}

.guess{
  justify-content: center;
  margin-top: 2rem;
  display: flex;
}

.custom-button {
  border: none;
  background-color: transparent; 
  padding: 0; 
  cursor: pointer; 
}

.custom-button img {
  width: 32px; 
  height: 32px;
}


.container {
  display: flex;
  justify-content: center;
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
}

input {
  width: 20rem; 
  border: none;
  height: 3rem;
  border-radius: 5px;
  padding: 0px 40px 0px 10px;
  font-size: 18px;
  box-shadow: 0px 1px 15px rgba(0,0,0,0.1);
}

button {
  height: 3rem;
  border: none;
  border-radius: 5px;
  padding: 0 15px;
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.results {
  text-align: center;
  width: 23rem;
  margin-right: 6rem;
  position: absolute;
  margin-top: 3rem;
  z-index: 999;
}

.results ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #f0f0f0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.results li {
  padding: 8px 16px;
  cursor: pointer;
}

.results li:hover {
  background-color: #aaa8a8;
}
