* {
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

h1 {
  justify-content: center;
  display: flex;
  font-size: 3.125rem;
  color: var(--gray-900);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  margin-top: 4rem;
}

.default-button:hover {
  background-color: #c73659;
  color: #fff;
}

/* .ul-default {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  color: black;
  cursor: pointer;
}

.li-default {
  display: block;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.li-default:hover {
  background-color: #f0f0f0;
} */

.player-preview .imgbox {
  position: relative;
  width: 100%;
  height: 17rem;
}

.player-preview {
  position: relative;
}

.player-preview .imgbox img {
  position: fixed;
  top: 24%;
  left: 30%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #1f1f23;
  margin: 0;
  padding: 0;
  flex-direction: column;
  margin-top: 4rem;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 17rem;
  border-radius: 20px;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  background-color: #1f1f23;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.autocomplete-list {
  position: absolute;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  text-align: center;
  width: 11.5%;
  justify-content: center;
  left: 41.6%;
  z-index: 999;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.autocomplete-item {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-item:hover {
  background-color: #ddd;
}

.custom-button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}

.custom-button img {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.input-value {
  width: 20rem;
  border: none;
  height: 3rem;
  padding: 0px 40px 0px 10px;
  font-size: 18px;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
}

.default-button {
  height: 3rem;
  border: none;
  border-radius: 5px;
  padding: 0 15px;
  background-color: #a91d3a;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  margin-left: 0.5rem;
}

.results {
  text-align: center;
  width: 23.1rem;
  position: absolute;
  margin-top: 5rem;
  margin-right: 5.79rem;
  z-index: 999;
}

.results ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #f0f0f0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: black;
  width: 100%;
  margin-left: 0.1rem;
}

.results li {
  padding: 8px 16px;
  cursor: pointer;
}

.results li:hover {
  background-color: #aaa8a8;
}

.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  margin-left: 30rem;
}

.guess {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guess-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 8rem;
  padding-left: 5rem;
}

.guess-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guess-info {
  display: flex;
  align-items: center;
}

.guess-input-container {
  position: relative;
}

.guess-input-container input {
  width: 20rem;
  border: none;
  height: 3rem;
  padding: 0px 0px 0px 10px;
  font-size: 18px;
}

.guess-results {
  text-align: center;
  width: 20.6rem;
  position: absolute;
  margin-top: 3rem;
  margin-right: 4.25rem;
}

.guess-results ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #f0f0f0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: black;
  width: 100%;
}

.guess-results li {
  padding: 8px 16px;
  cursor: pointer;
}

.guess-results li:hover {
  background-color: #aaa8a8;
}

#sound-slider {
  margin-top: 0.8rem;
  margin-left: 0.5rem;
  -webkit-appearance: none;
  appearance: none;
  width: 9rem;
  height: 10px;
  background: #f2f2f2;
  outline: none;
  transition: opacity 0.2s ease, background 0.2s ease;
  border-radius: 5px;
}

#sound-slider:hover {
  background: #d3d3d3;
  opacity: 1;
}

#sound-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #a91d3a;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: background 0.2s ease;
}

#sound-slider::-webkit-slider-thumb:hover {
  background: #a91d3a;
  transform: scale(1.1);
}

#sound-slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #a91d3a;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: background 0.2s ease, transform 0.5s ease;
}

#sound-slider::-moz-range-thumb:hover {
  background: #a91d3a;
}

#sound-slider::-ms-thumb {
  width: 15px;
  height: 15px;
  background: #a91d3a;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: background 0.2s ease;
}

#sound-slider::-ms-thumb:hover {
  background: #a91d3a;
}

.attempts {
  margin-top: 5rem;
  margin-left: 35rem;
}

.attempts ul{
  list-style-type: none;
  padding: 0;
}

.attempts li {
  padding: 5px 0;
}
