* {
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
html {
  background-color: #191919;
}

h1 {
  justify-content: center;
  display: flex;
  font-size: 3.125rem;
  color: var(--gray-900);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  margin-top: 1rem;
  background-color: #191919;
}

.imgbox {
  position: relative;
}

.image-controller {
  width: 18rem;
  height: 18rem;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.reflection {
  width: 18rem;
  height: 18rem;
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transform: scaleY(-1);
  opacity: 0.4;
  mask-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-mask-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0) 40%
  );
}

.container {
  background-color: #191919;
  display: flex;
  justify-content: center;
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
}

.default-button {
  height: 3rem;
  width: 7rem;
  border: none;
  border-radius: 5px;
  padding: 0 15px;
  background-color: #dc3545;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  margin-left: 0.5rem;
}

.default-button:hover {
  background-color: #79021d;
}

.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  margin-left: 30rem;
}

#sound-slider {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  -webkit-appearance: none;
  appearance: none;
  width: 6rem;
  height: 4px;
  background: #f2f2f2;
  outline: none;
  transition: opacity 0.2s ease, background 0.2s ease;
  border-radius: 5px;
}

#sound-slider:hover {
  background: #d3d3d3;
  opacity: 1;
}

#sound-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #ffffff;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: background 0.2s ease;
}

#sound-slider::-webkit-slider-thumb:hover {
  background: #a91d3a;
  transform: scale(1.1);
}

#sound-slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #a91d3a;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: background 0.2s ease, transform 0.5s ease;
}

#sound-slider::-moz-range-thumb:hover {
  background: #a91d3a;
}

#sound-slider::-ms-thumb {
  width: 15px;
  height: 15px;
  background: #a91d3a;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: background 0.2s ease;
}

#sound-slider::-ms-thumb:hover {
  background: #a91d3a;
}

.attempts {
  font-size: 18px;
  font-weight: bold;
}

.attempts ul {
  list-style-type: none;
  padding: 0;
}

.attempts li {
  padding: 5px 0;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

@media (max-width: 932px) {
  .image-controller {
    width: 10rem;
    height: 10rem;
    margin-left: 6rem;
  }

  .reflection {
    width: 10rem;
    height: 10rem;
    margin-left: 6rem;
  }

  .audio-player {
    margin-top: -3rem;
    margin-left: 3rem;
  }

  .sound {
    margin-left: 3rem;
  }

  .search-container {
    width: 20rem !important;
  }
}
