<h1>How to Play Guess The Music</h1>
<div class="px-3 pt-5 my-5 text-center">
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">First you need to enter an artist/band that is in the Deezer API, which the app has
            integration with.</p>

        <video src="../../assets/howtoplay1.mp4" type="video/mp4" loop muted autoplay
            class="hover-to-play w-75 img-fluid border rounded-3 shadow-lg mb-4">
        </video>
        <br>
        <p class="lead mb-4">A random song will be selected for the user to try to guess, the user will first have only
            one second of music to guess, in which they can try to guess a song or increase one second on the skip
            button.</p>

        <video src="../../assets/howtoplay2.mp4" type="video/mp4" loop muted autoplay
            class="hover-to-play w-75 img-fluid border rounded-3 shadow-lg mb-4">
        </video>
        <br>
    </div>
</div>